    html {
        margin: 0;
        padding: 0;
    }
    
    body {
        width: 100%;
        height: 100%;
        background-color: #E0E0E0;
        margin: 0;
    }
    
    div#pres-content {
        top: 0;
        left: 0;
        position: absolute;
        display: block;
        background-color: #DDD;
        width: calc(40% - 2em);
        height: calc(100% - 2em);
        padding: 1em;
        border: 0;
    }
    
    div#pres-code {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        overflow: scroll;
        width: calc(60%);
        height: calc(100%);
        padding: 0;
        border: 0;
        background-color: #263238;
    }
    
    .hljs-ln-numbers {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: center;
        color: #ccc;
        border-right: 1px solid #CCC;
        vertical-align: top;
        padding-right: 12px;
        /* your custom style here */
    }
    
    .hljs {
        padding: 0;
    }
    
    .hljs-ln {
        width: 1000px;
        border: none;
    }
    
    .hljs-ln-code {
        padding-left: 12px;
        white-space: pre;
    }
    
    div.top-bar {
        display: block;
        background-color: #FFF;
        width: 100%;
        height: 3em;
    }
    
    div.button-bar {
        transition: 0.25s;
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 40%;
        height: calc(4em);
        padding: 0;
        margin: 0;
        opacity: 0.1;
        transition-delay: 0.25s;
    }
    
    div.button-bar:hover {
        transition-delay: 0s;
        opacity: 1;
    }
    
    #pres-content h1,
    #pres-content h2,
    #pres-content h3,
    #pres-content h4,
    #pres-content h5,
    #pres-content h6,
    #pres-content p {
        font-family: 'Merriweather', serif;
    }
    
    #pres-content h1 {}
    
    #pres-content h2 {}
    
    #pres-content h3 {}
    
    #pres-content h4 {}
    
    #pres-content h5 {}
    
    #pres-content h6 {}
    
    #pres-content p {}
    
    .button-bar * button {
        display: inline-block;
        border-radius: 50%;
        border: none;
        padding: 4px;
        background-color: #78909c;
        padding: 8px;
        margin: 2px;
        height: 4em;
        width: 4em;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: 0.25s;
    }
    
    .button-bar:hover * button {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    
    .left {
        display: inline-block;
        position: relative;
        width: 49%;
        left: 0;
        padding: 0;
        margin: 0;
    }
    
    .right {
        text-align: right;
        display: inline-block;
        position: relative;
        width: 49%;
        right: 0;
        padding: 0;
        margin: 0;
    }
    
    pre {
        margin: 0;
    }
    
    code.hljs {
        width: fit-content;
    }
    
    .hljs-ln-numbers div {
        text-align: right;
        padding: 0 4px;
    }
    
    td.hljs-ln-code {
        padding: 0 8px;
    }
    
    div#section-container {
        display: flexbox;
        position: relative;
        width: 15.5em;
        height: calc(100% - 1em);
        background-color: #f0f0f0;
        border-radius: 4px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        overflow: auto;
    }
    
    div#editor-and-title-container {
        display: flexbox;
        position: relative;
        left: 0.5em;
        width: 40em;
        height: calc(100% - 1em);
        background-color: #f0f0f0;
        border-radius: 4px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        overflow: hidden;
    }
    
    div#editor-container {
        height: calc(100% - 3em);
    }
    
    div#code-editor {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% + 2em);
        background-color: #2e2e2e;
        border-radius: 4px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    
    #editor {
        display: block;
        position: relative;
        left: 0;
        height: calc(100% - 8.5em);
        font-family: 'Merriweather', serif;
        font-size: 1em;
    }
    
    .appContent {
        display: flex;
        width: calc(100% - 1em);
        height: calc(100% - 4em);
        padding-top: 0.5em;
        justify-content: center;
    }
    
    #coderef-container {
        font-family: 'Merriweather', serif;
        margin: -4.5em 1em;
        display: inline-block;
        line-height: 2em;
        font-size: 1.25em;
        font-weight: normal;
    }
    
    #coderef-container input {
        font-family: 'Merriweather', serif;
        line-height: 1.35em;
        font-size: 1.25em;
        margin: 0;
        padding: 0;
        width: 3em;
        border: none;
        background-color: transparent;
    }
    
    input#titleText {
        font-family: 'Merriweather', serif;
        background-color: transparent;
        height: 2em;
        font-size: 2em;
        margin: 0.5em;
        border: none;
        width: 80%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .slide-sec {
        display: block;
        margin: 0.5em 0.5em;
        width: auto;
        height: 6em;
        background-color: #FFF;
        border: 2px solid #FFF;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: 0.25s;
        border-radius: 4px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .slide-sec.active {
        border-color: #1976d2;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    
    .slide-sec:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    
    .slide-sec.add-slide-btn {
        background-color: #1976d2;
        border-color: #1976d2;
        color: #FFF;
        height: 3em;
        line-height: 3em;
    }
    
    .slide-sec.code-btn {
        background-color: #2e2e2e;
        border-color: #2e2e2e;
        color: #FFF;
        height: auto;
        line-height: 3em;
    }
    
    .slide-sec.add-slide-btn h3 {
        font-size: 2em;
        margin: 0;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        background-color: ;
    }
    
    .slide-sec.code-btn h3 {
        font-family: 'Fira Code';
        font-size: 1.5em;
        margin: 0;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        font-weight: lighter;
    }
    
    .slide-sec h4 {
        pointer-events: none;
        font-size: 1.25em;
        padding: 0.5em;
        margin: 0;
        font-family: 'Merriweather', serif;
    }
    
    .code-area {
        margin: 4px;
        display: block;
        background-color: transparent;
        color: #FFF;
        width: calc(100% - 4px);
        height: calc(100% - 18px - 3em);
        border: none;
        font-size: 1.25em;
        white-space: nowrap;
        overflow: auto;
    }
    
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: .5em;
        background-image: url('/resources/more_horiz-24px.svg');
        background-position: calc(100% - 0.5em);
        background-repeat: no-repeat;
        background-size: 16px;
        background-color: #2e2e2e;
        border: 2px solid rgba(170, 170, 170, 0.26);
        border-radius: 0.25em;
        padding: 0.5em;
        font-family: 'Roboto', sans-serif;
        font-size: 0.75em;
        margin: 0.25em;
        width: 20%;
        color: #FFF
    }
    
    input[type="file"] {
        display: none;
    }
    
    .custom-file-upload {
        border: 2px solid rgba(170, 170, 170, 0.26);
        border-radius: 0.25em;
        display: inline-block;
        padding: 0.5em;
        font-family: 'Roboto', sans-serif;
        font-size: 0.75em;
        margin: 0.25em;
        cursor: pointer;
        background-color: #2e2e2e;
        color: #FFF
    }
    
    .select-container {
        position: relative;
        display: inline;
        width: 100%;
    }
    
    .select-container:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        pointer-events: none;
    }
    
    .select-container:after {
        top: .3em;
        right: .75em;
        opacity: 0.5;
    }
    
    select::-ms-expand {
        display: none;
    }
    
    #optArea {
        display: block;
        width: 100%;
        height: 2em;
        margin: 0;
        padding: 0;
    }
    
    div.context-menu {
        margin: 0;
        padding: 0;
        display: block;
        position: absolute;
        top: 50px;
        left: 50px;
        width: 7em;
        height: fit-content;
        background-color: #FFF;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        overflow: hidden;
        border-radius: 4px;
        z-index: 100;
    }
    
    div#click-away-area {
        display: none;
        background: rgba(197, 197, 197, 0.527);
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
        position: absolute;
    }
    
    div.context-menu ul.cm-items {
        list-style-type: none;
        display: block;
        margin: 0;
        padding: 0;
    }
    
    ul.cm-items li {
        display: block;
        margin: 0;
        padding: 0.5em;
    }
    
    ul.cm-items li:hover {
        background-color: #F0F0F0;
    }